<% if resource.errors.any? %>
  <div class="row">
    <div class="col-lg-9">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi-exclamation-octagon-fill"></i>
        <strong class="mx-2">Error!</strong>
          <div class= "buffer-bottoms-forms">
            <h5><small><%= I18n.t :form_errors_count, count: resource.errors.count %></small></h5>
          </div>
          <ul>
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
      </div>
    </div>
  <div> 
<% end %>
