.form-field, .form-text-area {
  border: 1px solid #ddd05d;
  padding: 7.5px 10px;
}

.form-field:focus,
.form-text-area:focus {
  background-color: #ffc2fa;
  opacity: 0.5;
  outline-width: 0;
}

.form-text-area {
  box-sizing: border-box;
  width: 100%;
}